<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /
	##
	# FORCE HTTPS
	##
	#RewriteCond %{SERVER_NAME} =payment-myarena.goodgames.net [OR]
	#RewriteCond %{SERVER_NAME} =payment.nav.co.id
	#RewriteCond %{HTTPS} off
	#RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
	##
	# Codeigniter Rewrite
	##
	RewriteRule ^index\.php$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond $1 !^(index\.php|images|robots\.txt|css|docs|js|system|assets|media)
	RewriteRule . /index.php [L]
	#RewriteRule ^(.*)$ /index.php?/$1 [L,QSA]
	##
	# Global Content-Type Rewrite
	#RewriteRule .* - [E=HTTP_CONTENT_TYPE:%{HTTP:Content-Type},L]
</IfModule>
<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php
</IfModule>